[Unit]
Description=Catgirl Village Backup

[Service]
User=minecraft
Group=minecraft
EnvironmentFile=/etc/ovh_backup_credentials
EnvironmentFile=/etc/rcon_credentials
ExecStart=cv-backup-headsup
