[Unit]
Description=Catgirl Village Backup

[Service]
EnvironmentFile=/etc/ovh_backup_credentials
EnvironmentFile=/etc/rcon_credentials
WorkingDirectory=/root/catgirlvillage/config/scripts
ExecStart=/root/catgirlvillage/config/scripts/backup_with_headsup.sh
