[Unit]
Description=Catgirl Village Minecraft Server
After=network.target

[Service]
User=minecraft
Group=minecraft
ExecStart=/home/minecraft/catgirlvillage/run.sh
Restart=on-failure

[Install]
WantedBy=default.target
