---
/*!
 * Copyright (c) Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: MPL-2.0
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

import type { AstroBuiltinAttributes } from 'astro'

export interface Props {
	href: string
	class?: AstroBuiltinAttributes['class:list']
	activeClass?: AstroBuiltinAttributes['class:list']
	exact?: boolean
}

const { href, class: cls, activeClass, exact } = Astro.props
const matches = exact
	? Astro.url.pathname === href
	: Astro.url.pathname.startsWith(href)
---
<a href={href} class:list={[ cls, matches && activeClass ]}>
	<slot/>
</a>
