---
/*!
 * Copyright (c) Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: MPL-2.0
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
---
<div class="private-info">
	<p>
		The Catgirl Village SMP is a private invite-only server at this time. You can however get the modpack and
		play on your own server with your friends!
	</p>
	<p>
		There are no plans to open the server to the public. Please do not bother the server administrator or players!
	</p>
</div>

<style>
.private-info {
	color: #5200b9;
	border: 2px #5200B9 solid;
	background: #5200B933;
	padding: 1rem;
	border-radius: 8px;
	margin-bottom: 2rem;
}

p {
	margin: 0;
}

p + p {
	margin-top: 1.5rem;
}
</style>
