---
/*!
 * Copyright (c) Cynthia Rey, All rights reserved.
 * SPDX-License-Identifier: MPL-2.0
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
---
<h2>
	<span aria-hidden="true">✿</span>
	<slot/>
	<span aria-hidden="true">✿</span>
</h2>

<style>
	h2 {
		font-size: 1.25rem;
		margin: 0 0 1rem;
		text-align: center;
		width: 100%;
	}
</style>
